.sectionLinks {
    padding: 79px 0;

    &__container {
        padding: 0;
    }

    &__info {
        padding: 22px 10px 16px;
        text-align: center;

        &_icon-border {
            width: 108px;
            height: 108px;
            border: 2px solid $black;
            border-radius: 54px;
            position: relative;
            margin: 0 auto;
            cursor: pointer;
            transition: all .3s ease-in;

            &:hover {
                background-color: $carnation;
                transition: all .3s ease-in;

                & .sectionLinks__info_icon {
                    filter: brightness(300%);
                    transition: all .3s ease-in;
                }
            }
        }

        &_icon {
            @include absoluteCentering;
            filter: brightness(100%);
            transition: all .3s ease-in;
        }

        &_title {
            margin: 15px -3px 5px 0;
        }

        &_line {
            margin: 0 auto;
        }

        &_text {
            margin-top: 14px;
            font-size: 16px;
            font-weight: 300;
            color: $boulder;
            letter-spacing: .9px;
            line-height: 25px;
            padding: 0 10px;
        }
    }
}

.info__title {
    text-transform: uppercase;
    color: $black;
    font-size: 18px;
    letter-spacing: 1px;
}

.line {
    width: 88px;
    height: 1px;
    background-color: $carnation;
}
