$white:#ffffff;
$pearlBush:#ece5e0;
$mineShaft:#221f1f;
$carnation: #f57365;
$black:#000000;
$boulder:#7D7D7D;
$alabaster:#f7f7f7;
$venus:#948a93;
$shadyLady:#aea8ad;
$fedora:#796d79;
$doveGray:#6b6b6b;
$Silver:#bbbbbb;


$slick-dot-color:white;
$slick-dot-size: 10px;
